$blue: rgb(0, 85, 128);

@mixin square ($dimension) {
    width: $dimension;
    height: $dimension;
}

@media screen and (max-width: 1650px) {
    #main {
        #projects {
            .section-main {
                #all-categories {
                    .project {
                        main {
                            .view-project {
                                a {@include square (26%);}
                            }

                            .description {
                                p {
                                    &:last-of-type {font-size: 19px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    #main {
        #skills {
            .section-main {
                #all-skills {
                    .my-skills {
                        .skill {
                            width: 120px;
                            height: 200px;
                            
                            .circle-wrap {
                                @include square (120px);

                                .circle {
                                    .mask {
                                        @include square (120px);
                                        clip: rect(0px, 120px, 120px, 60px);

                                        .fill {
                                            @include square (120px);
                                            clip: rect(0px, 60px, 120px, 0px);
                                        }
                                    }
                                }

                                .inside-circle {
                                    @include square (100px);
                                    font-size: 22px;
                                }
                            }

                            .skill-name {
                                p {font-size: 19px;}
                            }
                        }
                    }
                }
            }
        }

        #services {
            .section-main {
                #my-services {
                    .service {
                        .caption {
                            p {font-size: 17px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    #main {
        #about {
            .section-main {
                #web-developer {
                    #text-1 {font-size: 50px;}
                    #text-2 {
                        mark {
                            font-size: 18px;
                            padding: 3px 5px;
                        }
                    }

                    #download-cv {
                        a {
                            p {
                                padding: 20px;
                                letter-spacing: 0;
                            }
                        }
                    }
                }

                #personal-details {
                    table {
                        tbody {
                            tr {
                                td {font-size: 18px;}
                            }
                        }
                    }
                }

                #education-and-languages {
                    #education {
                        table {
                            tbody {
                                tr {
                                    td {
                                        font-size: 18px;
                                        &.year {font-size: 20px;}
                                    }
                                }
                            }
                        }
                    }

                    #languages-skills {
                        table {
                            tbody {
                                tr {
                                    td {font-size: 18px;}
                                }
                            }
                        }
                    }
                }
            }
        }

        #contact {
            .section-main {
                #contact-informations {width: 30%;}
            }
        }
    }
}

@media screen and (max-width: 1470px) {
    #main {
        #services {
            .section-main {
                #my-services {
                    .service {
                        .service-name {
                            i {font-size: 32px;}
    
                            h4 {width: 65%;}
    
                            p {
                                cursor: pointer;
                                font-size: 20px;
                                letter-spacing: 0.5px;
                            }
                        }
                    }
                }
            }
        }

        #projects {
            .section-main {
                #all-categories {
                    .project {
                        main {
                            .view-project {
                                a {@include square (29%);}
                            }
                            .description {
                                p {
                                    &:first-of-type {font-size: 19px;}
                                    &:last-of-type {font-size: 18px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin project ($height) {
    width: 100%;
    height: $height;
}

@media screen and (max-width: 1400px) {
    #main {
        #skills {
            .section-main {
                #all-skills {
                    width: 85%;
                    padding: 0 7.5%;
                    flex-wrap: wrap;
                    .my-skills {
                        &:nth-child(2) {margin: 0 0 0 35px;}
                        &:last-child {margin-top: 10px;}

                        .skill {
                            width: 120px;
                            height: 200px;
                            &:nth-child(2) {margin: 0 35px;}
                            
                            .circle-wrap {
                                @include square (120px);

                                .circle {
                                    .mask {
                                        @include square (120px);
                                        clip: rect(0px, 120px, 120px, 60px);

                                        .fill {
                                            @include square (120px);
                                            clip: rect(0px, 60px, 120px, 0px);
                                        }
                                    }
                                }

                                .inside-circle {
                                    @include square (100px);
                                    font-size: 22px;
                                }
                            }

                            .skill-name {
                                p {font-size: 19px;}
                            }
                        }
                    }
                }
            }
        }

        #services {
            .section-main {
                #my-services {
                    flex-wrap: wrap;
                    .service {
                        width: 37%;
                        margin-right: 0;

                        .caption {
                            p {font-size: 18px;}
                        }

                        &:first-of-type {margin: 0px 20px 20px 0;}
                        &:nth-of-type(2) {margin-bottom: 20px;}
                        &:nth-of-type(3) {margin-right: 20px;}
                    }
                }
            }
        }

        #projects {
            .section-main {
                #all-categories {
                    flex-direction: column;
    
                    .project {
                        width: 55vw;
                        height: calc(55vw + 100px);

                        header {
                            h4 {
                                span {
                                    &:first-child {font-size: 23px;}
                                    &:last-child {font-size: 22px;}
                                }
                            }
                        }
    
                        &:nth-child(2) {margin: 30px 0;}
    
                        main {
                            @include project (55vw);
    
                            .project-image {@include project (55vw);}
                            .view-project {
                                @include project (55vw);
                                a {
                                    @include square (25%);
                                    p {
                                        width: 70%;
                                        font-size: 21px;
                                    }
                                }
                            }

                            .description {
                                p {
                                    &:first-of-type {font-size: 22px;}
                                    &:last-of-type {font-size: 22px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    #main {
        #about {
            .section-main {
                flex-wrap: wrap;
                #web-developer {
                    width: 55%;
                    #text-2 {
                        left: 0;
                        span {
                            mark {font-size: 20px;}
                        }
                    }
                    #download-cv {width: 30%;}
                }

                #personal-details {
                    width: 40%;
                    margin: 40px 6% 0 0;
                    table {
                        tbody {
                            tr {
                                td {font-size: 19px;}
                            }
                        }
                    }
                }

                #education-and-languages {
                    width: 28%;
                    margin-top: 40px;

                    #education {
                        table {
                            tbody {
                                tr {
                                    td {font-size: 19px;}
                                }
                            }
                        }
                    }

                    #languages-skills {
                        table {
                            tbody {
                                tr {
                                    td {font-size: 19px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    #main {
        #contact {
            .section-main{
                #form {margin-right: 5%;}
                #contact-informations {
                    .contact-information {
                        .information-icon {
                            @include square (50px);
                            i {font-size: 25px;}
                        }

                        .information {
                            margin-left: 5%;
                            p {font-size: 18px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1110px) {
    #main {
        #about {
            .section-main {
                #web-developer {
                    #text-2 {width: 55%;}
                    #download-cv {
                        width: 35%;
                        right: -5%;
                    }
                }
            }
        }

        #contact {
            .section-main {
                flex-direction: column;
                align-items: center;
                #form {
                    width: 70%;
                    order: 2;
                    margin: 50px 0 0;
                }

                #contact-informations {
                    width: 100%;
                    order: 1;
                    top: 0;
                    flex-wrap: wrap;
                    .contact-information {
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        .information-icon {
                            i {font-size: 28px;}
                        }

                        .information {
                            text-align: center;
                            margin: 10px 0 0;
                            p {font-size: 20px;}
                        }
                    }

                    #social-media {
                        ul {
                            li {
                                a {
                                    @include square (50px);
                                    i {font-size: 20px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1053px) {
    #main {
        #skills {
            .section-main {
                #all-skills {
                    .my-skills {
                        &:nth-child(2) {margin: 10px 0 0;}

                        .skill {
                            width: 150px;
                            height: 230px;
                            &:nth-child(2) {margin: 0 40px;}
                            
                            .circle-wrap {
                                @include square (150px);

                                .circle {
                                    .mask {
                                        @include square (150px);
                                        clip: rect(0px, 150px, 150px, 75px);

                                        .fill {
                                            @include square (150px);
                                            clip: rect(0px, 75px, 150px, 0px);
                                        }
                                    }
                                }

                                .inside-circle {@include square (130px);}
                            }

                            .skill-name {
                                p {font-size: 20px;}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #main {
        #home {
            #title-1 {
                h2 {font-size: 22px;}
                
                h1 {
                    span {font-size: 40px;}
                }
            }
    
            #title-2 {
                h2 {
                    span {font-size: 20px;}
                }
            }
    
            #menu {
                bottom: -60px;
                .menu-item {
                    margin-right: 15px;
                    a {
                        @include square (120px);
    
                        .item-name {
                            h4 {font-size: 19px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    #main {
        #services {
            .section-main {
                #my-services {
                    .service {
                        width: 70%;
                        &:first-of-type {margin: 0px 0 20px 0;}
                        &:nth-of-type(3) {margin: 0 0 20px;}
                        .service-name {
                            h4 {width: 45%;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #main {
        #about {
            .section-main {
                #web-developer {width: 70%;}
                #personal-details {width: 40%;}
                #education-and-languages {width: 40%;}
            }
        }

        #projects {
            .section-main {
                #all-categories {
                    .project {
                        width: 70vw;
                        height: calc(70vw + 100px);
    
                        main {
                            @include project (70vw);
    
                            .project-image {@include project (70vw);}
                            .view-project {
                                @include project (70vw);
                                a {
                                    @include square (25%);
                                    p {font-size: 20px;}
                                }
                            }

                            .description {
                                p {
                                    &:first-of-type {font-size: 20px;}
                                    &:last-of-type {font-size: 20px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #main {
        #home {
            height: auto;
            padding-top: 18vh;

            #title-1 {
                text-align: center;
                h2 {font-size: 18px;}
                
                h1 {
                    span {font-size: 30px;}
                }
            }
    
            #title-2 {
                padding: 3vh 0 5vh;
                h2 {
                    span {font-size: 18px;}
                }
            }

            #menu {
                width: 100%;
                position: relative;
                flex-direction: column;
                bottom: 0;

                &:hover {
                    .menu-item {display: block;}
                }
    
                #menu-button {
                    display: block;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.5);
                    padding: 15px 0;
                    h2 {
                        text-transform: uppercase;
                        font-size: 27px;
                        font-weight: 600;

                        i {
                            position: relative;
                            left: -2%;
                        }
                    }
                }
    
                .menu-item {
                    width: 100%;
                    margin-right: 0;
                    clip-path: none;
                    display: none;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(0, 0, 0, 0.6);

                    a {
                        height: auto;
                        width: 100%;
                        padding: 5px 0;
    
                        .animated-icon {
                            width: 6%;
                            position: relative;
                            left: -4%;
                        }
    
                        .item-name {
                            position: relative;
                            h4 {font-size: 20px;}
                        }
                    }
    
                    &:not(.active) .item-name {display: block;}
    
                    &.active {
                        & .animated-icon {display: block;}
                    }
    
                    &:hover {
                        & .animated-icon {display: block;}
                    }
                }
            }
        }

        #about {padding-top: 50px;}

        #projects {
            .section-main {
                #all-categories {
                    .project {
                        header {
                            h4 {
                                span {
                                    &:first-child {font-size: 22px;}
                                    &:last-child {font-size: 20px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #main {
        .section-header {
            h2 {font-size: 21px;}
            h3 {font-size: 23px;}
        }

        #contact {
            .section-main {
                #form {
                    #contact-form {
                        .input-4 {width: 27%;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #main {
        #about {
            .section-main {
                #web-developer {
                    width: 85%;
                    #text-1 {
                        font-size: 40px;
                        left: 5%;
                    }

                    #text-2 {
                        mark {font-size: 16px;}
                    }

                    #download-cv {
                        right: 0;
                        a {
                            p {font-size: 16px;}
                        }
                    }
                }

                #personal-details  {
                    width: 70%;
                    margin-right: 0;
                }

                #education-and-languages {width: 70%;}
            }
        }

        #skills {
            .section-main {
                #all-skills {
                    .my-skills {
                        .skill {
                            width: 120px;
                            height: 210px;
                            &:nth-child(2) {margin: 0 40px;}
                            
                            .circle-wrap {
                                @include square (120px);

                                .circle {
                                    .mask {
                                        @include square (120px);
                                        clip: rect(0px, 120px, 120px, 60px);

                                        .fill {
                                            @include square (120px);
                                            clip: rect(0px, 60px, 120px, 0px);
                                        }
                                    }
                                }

                                .inside-circle {@include square (100px);}
                            }

                            .skill-name {
                                p {font-size: 18px;}
                            }
                        }
                    }
                }
            }
        }

        #projects {
            .section-main {
                #projects-menu {
                    ul {
                        flex-direction: column;
                        li {
                            &:nth-child(2) {margin: 5px 0;}
                        }
                    }
                }

                #all-categories {
                    .project {
                        main {
                            .view-project {
                                a {
                                    @include square (28%);
                                    p {font-size: 18px;}
                                }
                            }

                            .description {
                                p {
                                    &:first-of-type {font-size: 18px;}
                                    &:last-of-type {font-size: 18px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    #main {
        #home {
            #title-1 {
                width: 80%;
                h1 {
                    span {display: inline;}
                }
            }

            #title-2 {
                width: 80%;
                h2 {
                    span {
                        display: inline;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #header {
        #logo {width: 180px;}
    }

    #main {
        #home {
            #menu {
                .menu-item {
                    a {
                        .animated-icon {width: 8%;}
                    }
                }
            }
        }

        #projects {
            .section-main {
                #projects-menu {
                    ul {
                        li {
                            a {font-size: 18px;}
                        }
                    }
                }

                #all-categories {
                    .project {
                        header {
                            h4 {
                                span {
                                    &:last-child {font-size: 19px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        #copyright {
            width: 90%;
            padding: 0 5%;
            p {font-size: 18px;}
        }
        #links {
            ul {
                li {
                    margin-right: 7%;
                    a {font-size: 16px;}
                }
            }  
        }
    }
}

@media screen and (max-width: 600px) {
    #main {
        #services {
            .section-main {
                #my-services {
                    .service {
                        .service-name {
                            h4 {font-size: 18px;}
                            p {font-size: 18px;}
                        }

                        .caption {
                            p {font-size: 17px;}
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #main {
        #services {
            .section-main {
                #my-services {
                    .service {
                        .service-name {
                            h4 {width: 80%;}
                        }
                    }
                }
            }
        }

        #projects {
            .section-main {
                #all-categories {
                    .project {
                        height: calc(70vw + 210px);
                        main {
                            .description {
                                height: 64px;
                                top: 10px;
                                position: relative;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        #contact {
            #back-on-top {
                i {font-size: 22px;}
                p {font-size: 16px;}
            }
        }
    }
}

@media screen and (max-width: 520px) {
    #main {
        #projects {
            .section-main {
                #all-categories {
                    .project {
                        main {
                            .view-project {
                                a {
                                    @include square (32%);
                                    p {font-size: 17px;}
                                }
                            }

                            .description {
                                width: 100%;
                                padding: 18px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #main {
        #home {
            #menu {
                .menu-item {
                    a {
                        .item-name {
                            h4 {font-size: 18px;}
                        }
                    }
                }
            }
        }

        #about {
            .section-main {margin-top: 40px;}
        }

        #skills {
            .section-main {
                #all-skills {
                    .my-skills {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        .skill {
                            width: 160px;
                            height: 240px;
                            &:nth-child(2) {margin: 10px 0;}
                            
                            .circle-wrap {
                                @include square (160px);

                                .circle {
                                    .mask {
                                        @include square (160px);
                                        clip: rect(0px, 160px, 160px, 80px);

                                        .fill {
                                            @include square (160px);
                                            clip: rect(0px, 80px, 160px, 0px);
                                        }
                                    }
                                }

                                .inside-circle {@include square (140px);}
                            }
                        }
                    }
                }
            }
        }

        #about {
            .section-main {
                #web-developer {
                    width: 90%;
                    #text-2 {
                        width: 90%;
                        top: 85%;
                        left: 5%;
                    }

                    #download-cv {
                        width: 40%;
                        top: 50%;
                        a {
                            p {font-size: 15px;}
                        }
                    }
                }

                #personal-details {
                    width: 100%;
                    margin-top: 60px;
                }
            }
        }

        #services {
            .section-main {
                #my-services {
                    .service {
                        .caption {
                            p {font-size: 16px;}
                        }
                    }
                }
            }
        }

        #contact {
            .section-main {
                #contact-informations {
                    .contact-information {
                        .information {
                            p {font-size: 18px;}
                        }
                    }
                }
            }
        }
    }
    
    #footer {
        #links {
            ul {
                flex-direction: column;
                li {
                    margin-right: 0;
                    &:nth-child(2) {margin: 5px 0;}
                }
            }  
        }
    }
}

@media screen and (max-width: 460px) {
    #main {
        #projects {
            .section-main {
                #all-categories {
                    .project {
                        header {
                            h4 {
                                span {
                                    &:first-child {font-size: 20px;}
                                    &:last-child {font-size: 16px;}
                                }
                            }
                        }

                        main {
                            .description {
                                p {
                                    &:first-of-type {font-size: 16px;}
                                    &:last-of-type {font-size: 16px;}
                                }
                            }
                        }
                    }
                }
            }
        }

        #contact {
            .section-main {
                #form {
                    #contact-form {
                        .input-4 {
                            width: 35%;
                            font-size: 16px;
                        }

                        ::placeholder {font-size: 16px;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    #main {
        #projects {
            .section-main {
                #all-categories {
                    .project {
                        main {
                            .view-project {
                                a {@include square (39%);}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #main {
        #projects {
            .section-main {
                #all-categories {
                    .project {
                        header {
                            h4 {
                                span {
                                    &:last-child {
                                        width: calc(100% - 20px);
                                        padding: 0 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #contact {
            .section-main {
                #form {
                    #contact-form {
                        ::placeholder {font-size: 14px;}
                    }
                }
            }
        }
    }

    #footer {
        #copyright {
            p {font-size: 17px;}
        }
    }
}

@media screen and (max-width: 380px) {
    #main {
        #contact {
            .section-main {
                #contact-informations {
                    width: 80%;
                    #social-media {
                        ul {
                            li {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #main {
        #home {
            #title-1 {
                h1 {
                    span {font-size: 25px;}
                }
            }
        }

        #about {
            .section-main {
                #web-developer {width: 100%;}
            }
        }
    }
}